<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>type</th>
    <th>price</th>

  </tr>
  <tr *ngFor="let user of cardata$;let i=index">
    <td>{{ user.id}}</td>
    <td>{{ user.name}}</td>
    <td>{{ user.type}}</td>
    <td>{{ user.price}}</td>
    <!--siko siko-->
    <td><button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item  >Add</button>
      <button mat-menu-item (click)="onDeleteCar(user.id)" >delete</button>
      <button mat-menu-item  (click)="onEditcar(user.id)">Edit</button>

    </mat-menu>
    </td>

    



  </tr>
</table>

<div class="example-container">
  <form #carform="ngForm" (ngSubmit)="OnCarCreate(carform.value)">
    <label>Enter your email</label>
    <input  type="text" name="name" placeholder="pat@example.com" ngModel>
    <label>Enter your email</label>
    <input  type="text" name="type" placeholder="pat@example.com" ngModel>
    <label>Enter your email</label>
    <input  type="number" name="price" placeholder="pat@example.com" ngModel>
    <input  type="submit" value="{{editmode? 'Updatedata': 'Adddata'}}">

  </form>
 
</div>

<div class="example-container">
  <form #carGetform="ngForm" (ngSubmit)="getById(carGetform.value.id)">
  
  <input  type="number" name="id" placeholder="pat@example.com" ngModel>
  <input  type="submit" value="search">
</form>
<table *ngIf="getcar">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>type</th>
    <th>price</th>
  </tr>
  <tr>
    <td>{{ getcar.id}}</td>
    <td>{{ getcar.name}}</td>
    <td>{{ getcar.type}}</td>
    <td>{{ getcar.price}}</td>
  </tr>
</table>
</div>


